<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinAnalysis</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="stars-background"></div>

<!-- From Uiverse.io by Pinparker --> 
    <form class="form">
        <div class="form-title"><span>sign in to your</span></div>
        <div class="title-2"><span>FinAnl</span></div>
        <div class="input-container">
        <input placeholder="Username" type="text" class="input-mail" />
        <span> </span>
        </div>
    
        <section class="bg-stars">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        </section>
    
        <div class="input-container">
        <input placeholder="Password" type="password" class="input-pwd" />
        </div>
        <button class="submit" type="submit">
        <span class="sign-text">Sign in</span>
        </button>
    
        <p class="signup-link">
        No account?
        <a class="up" href="/register">Sign up!</a>
        </p>
    </form>

    <script src ="../static/js/login.js"></script>
</body>
</html>