<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/freereport.css">
    <title>Power BI Report</title>
</head>
<body>
    <!-- Container to center the iframe -->
    <div class="container">
        <iframe
            title="demon3"
            src="https://app.powerbi.com/reportEmbed?reportId=6248853c-5ce7-45ae-ac01-e2a52d31cb6f&autoAuth=true&ctid=e7572e92-7aee-4713-a3c4-ba64888ad45f"
            frameborder="0"
            allowfullscreen="true"
            style="width:80vw; height:80vh; display:block; margin:auto; border:none; z-index:2; position:relative;">
        </iframe> 
        <a href="/main" class="back-btn">Back</a>
    </div>
</body>
</html>